[Desktop Entry]
Categories=Development;
Comment=Partial Lunar Eclipse desktop client (Tauri)
Exec=kimi-desktop-tauri
Icon=kimi-desktop-tauri
Name=Partial Lunar Eclipse
StartupWMClass=ai.moonshot.kimi.desktop.tauri
Terminal=false
Type=Application
X-GNOME-UsesNotifications=true
